@model IEnumerable<MovieDB.Models.UserMovy>

@{
    ViewBag.Title = "ViewUserMovies";
    Layout = null;
}

<table id="UserMoviesTable" class="table table-condensed table-striped movieThumbnail h4">
    <thead>
        <tr>
            <th></th>
            <th></th>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Genre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rating)
            </th>
            <th></th>
        </tr>
    </thead>
    
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td  >
                    <a class="anchorFavouriteMovie btn btn-lg" id="star" data-id='["@item.imdbID", "@item.Favourite"]' data-url="@Url.Action("ViewUserMovies", "Movie")"></a>
                </td>
                <td>
                    <img src="@item.Poster" width="85" height="125">
                </td>
                <td>
                    <strong>@Html.DisplayFor(modelItem => item.Title)</strong>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Genre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Rating)
                </td>
                <td>
                    <a class="anchorRemoveMovie btn btn-danger btn-sm" data-url="@Url.Action("ViewUserMovies", "Movie")" data-id="@item.imdbID"><i class="fa fa-trash" aria-hidden="true"></i></a>
                </td>
            </tr>
        }
    </tbody>


</table>
