@model IEnumerable<MovieDB.Models.UserMovy>

@{
    ViewBag.Title = "ViewUserMovies";
    Layout = null;
}

<table id="UserMoviesTable" class="table table-condensed table-striped movieThumbnail h4">
    <thead>
        <tr>
            <th>

            </th>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Genre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Favourite)
            </th>
            <th></th>
        </tr>
    </thead>
    
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <img src="@Html.DisplayFor(model => item.Poster)" width="85" height="125">
                </td>
                <td>
                    <strong>@Html.DisplayFor(modelItem => item.Title)</strong>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Genre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Rating)
                </td>
                <td>
                    @Html.ActionLink("Delete", "Delete", new { id = item.imdbID })
                </td>
            </tr>
        }
    </tbody>


</table>
